
   <div class="card text-center">
    <div class="card-header">
     <h1 class="display-1 card-title">Result</h1>
    </div>
    <div class="card-body">
     <h2 class="card-title"><%=@word%></h2>
     <h2 class="card-text"><%=@result%></h2>
     <button type="button" class="btn btn-info"><%= link_to "Play again", new_path %></button>
    </div>
   </div>
